html {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
body {
    padding: 20px;
    background: url('cream_pixels.png') repeat;
    background-color: #efefef;
}
p, h3 {
    margin-bottom: 20px;
}